
body {
  text-align: center;
  font-size: 200%;
    background: url(https://img.freepik.com/free-vector/student-dormitory-room-with-bunk-bed-laptop-desk-office-chair-bookshelf-vector-cartoon-interior-empty-dorm-bedroom-hostel-apartment-with-wooden-furniture-backpack_107791-9928.jpg?w=2000) fixed;
    background-repeat: no-repeat;
    background-size:cover ;
    transition: background-position 10s ease;
    height: 100%;
    width: 100%;
  }

  h1{
    font-family: 'Indie Flower', cursive;
    color: rgb(239, 239, 239);
    text-shadow:  0 0 5px #717171, 0 0 5px #717171;
    text-align: center;
    font-size: 150%;
  }

  body:hover{
    background-position: right top;
  }
  
  .hidden {
    display: none;
  }
  
  table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    z-index: 2;
    backdrop-filter: blur(15px);
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 80%;
    color: #7b098a;
    text-shadow: 0 0 3px #fec8c8, 0 0 5px #c9c9fa;
  }
  
  table, th, td {
    border: 1px solid rgb(188, 134, 204);
  }
  
  th, td {
    padding: 10px;
  }
  
  button {
    padding: 30px 60px;
    font-size: 16px;
    margin: 10px;
    z-index: 2;
    border-radius: 50%;
    backdrop-filter: blur(15px);
    background-color: #717171 ;
    text-shadow:  2px 2px 4px #000000;
    color: rgb(233, 212, 233);
    border: none;
    outline: none;
    font-family: 'Qwitcher Grypen', cursive;
  }

  input[type="radio"]{
    margin-right: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 40%;
    height: 50px;
    border-radius: 0%;
    border: 1px solid #aeaeae;
    box-shadow: 2px 2px 5px #1e1d1d;
    outline: none;
    cursor: pointer;
    display: inline-block;
  }

  input[type="radio"]:hover {
    background-color: #c587f1; 
    border-color: #de87f1;
    box-shadow: 2px 2px 5px #70167a;
  }

  input[type="radio"]:checked {
    background-color: #b328c9; 
    border-color: #be28c9;
  }
 

  #resultText{
    font-size: 200%;
    background-color: #84608d;
    text-shadow: 2px 2px 5px rgb(229, 146, 231);
    z-index: 2;
    color: white;
  }